@import 'src/assets/styles/variables';

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	> button {
		background-color: transparent;
		border: none;
		outline: none;
		cursor: pointer;
	}
}

.width {
	width: 40px;
	height: 40px;
	color: white;
}